<label for="vegetables">Vegetables</label>
<select class="form-control"  (input)="saveData($event)" >
  <option></option>
  <option value="Carrots">Carrots</option>
  <option value="Eggplant">Eggplant</option>
  <option value="Spinach">Spinach</option>
  <option value="Cucumber">Cucumber</option>
  <option value="Peas">Peas</option>
  <option value="Onion">Onion</option>
  <option value="Zucchini">Zucchini</option>
  <option value="Tomato">Tomato</option>
  <option value="Red Peppers">Red Peppers</option>
  <option value="Green Peppers">Green Peppers</option>
  <option value="Green Beans">Green Beans</option>
  <option value="Garlic">Garlic</option>
  <option value="Cabbage">Cabbage</option>
  <option value="Corn">Corn</option>
  <option value="Potatoes">Potatoes</option>
  <option value="Cauliflower">Cauliflower</option>
  <option value="Mushrooms">Mushrooms</option>
</select>