<section id="block-recipe" class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto">
        <div class="card">
          <h1 class="bgTitle text-center">Save Recipe</h1>
          <p class="bgp">CREATE AN ACOUNT & SAVE RECIPE</p>
          <button class="btn btn-success d-block">SIGN UP NOW</button>
        </div>
      </div>

      <!-- <div class="col-md-5 mt-5">
        <img src="https://source.unsplash.com/random/400x250/?notebook" alt="Note Book"
          class="img-fluid rounded d-none d-md-block about-img" style="border-radius: 20%;">
      </div> -->
    </div>
  </div>
</section>