/* MODAL */

 .modal {
   margin-top: 8%;
 }

.bgfind {
  background-color: rgb(76, 43, 129);
  font-family: 'Nothing You Could Do', cursive;
  font-size: 25px;
  color: white;

}

.bgfind:hover {
  background-color: rgba(91, 74, 117, 0.288);
  color: rgb(76, 43, 129) !important;
}

.modal-title {
  font-size: 35px;
  color: white;
}


.form-group label,
option,
select {
  color: rgb(50, 29, 83);
  /* font-family: 'Nothing You Could Do', cursive; */
  font-size: 20px;
}
.modal-footer{
  margin-top: 10px;
}