@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Poppins:ital@1&family=Roboto&family=Rubik:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

.bgnav{
  /* background-color: rgb(59, 14, 131); */
    background-color: rgb(59, 14, 131);
    margin-bottom: 2% !important; 
}



.nav-link,
.navbar-brand{
font-family: 'Josefin Sans', sans-serif;
color: white;
}



 li:hover{
   transform: scale(1.2s);
   font-style: oblique;
   font-weight: 900;
   background: #d2d3d85e;
   border-radius: 20%;
 }

 .andStyle{
font-family: 'Euphoria Script', cursive;
font-size:larger;
color: rgb(211, 198, 18);
text-shadow: #2125085e;
font-weight: 500;
 }

 .guideStyle{
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 9px;
 }

 .logoStyle{
    transform: rotate(-25deg);

 }

 .colorText{
  color: white
 }


 
 /* MODAL SEARCH */

