<nav class="navbar navbar-expand-sm navbar-dark bgnav no-gutters">
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      <a href="#" class="navbar-brand">TASTY <span class="andStyle">&</span> EASY
        <img src="assets/logo/лого.png" class="img-fluid  logoStyle mb-2" style="width: 60px;" alt="">
        <p class="guideStyle">guide for beginners</p>
      </a>
    </div>
    <div class="d-none d-sm-block  d-md-block d-lg-none d-xl-none">
      <a href="#" class="navbar-brand">TASTY <span class="andStyle">and</span> EASY
      </a>
    </div>

    <div class="d-block d-sm-none">
      <img src="assets/logo/лого.png" class="img-fluid logoStyle" style="width: 60px;" alt="">
    </div>



    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a routerLink="#" class="nav-link text-white">ALL RECIPE</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link text-white" data-toggle="modal" data-target="#findeRecipe">FIND RECIPE</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link text-white">CREATE RECIPE</a>
        </li>
        <li class="nav-item">
          <a routerLink="#" class="nav-link text-white ">LOGOUT</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login" class="nav-link  text-white">LOG IN</a>
        </li>
        <li class="nav-item">
          <a routerLink="/register" class="nav-link text-white">REGISTER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- MODAL Find Recipe -->
<app-recipe-find></app-recipe-find>