<label for="dairy">Dairy</label>
<select class="form-control"  (change)="saveData($event)">
  <option></option>
  <option value="Mozzarella">Mozzarella</option>
  <option value="Cream">Cream</option>
  <option value="Sour cream">Sour cream</option>
  <option value="Milk">Milk</option>
  <option value="Yoghurt">Yoghurt</option>
  <option value="Cheese">Cheese</option>
  <option value="Cottage cheese">Cottage cheese</option>
  <option value="Cream cheese">Cream cheese</option>
  <option value="Melted cheese">Melted cheese</option>
  <option value="Yellow cheese">Yellow cheese</option>
  <option value="Parmesan">Parmesan</option>
  <option value="Butter">Butter</option>
</select>