<label for="meat">Meat</label>
<select class="form-control" (change)="saveData($event)">
  <option></option>
  <option value="Chicken">Chicken</option>
  <option value="Turkey">Turkey</option>
  <option value="Minced Meat">Minced Meat</option>
  <option value="Sausage">Sausage</option>
  <option value="Pork">Pork</option>
  <option value="Beaf">Beaf</option>
  <option value="Lamb">Lamb</option>
  <option value="Veal">Veal</option>
  <option value="Fish">Fish</option>
  <option value="Bacon">Bacon</option>
</select>