<div class="container">.
  <div class="col mx-auto">

    <div class="row d-flex justify-content-center mb-4">
      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-meat" class="card-link">
          <div class="card p-0  bgmeat">
            <div class="card-body p-0"></div>
            <div class="card-footer text-center p-1">MEAT</div>
          </div>
        </a>
      </div>

      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-dairy" class="card-link">
          <div class="card p-0  bgmilk">
            <div class="card-body p-0"></div>
            <div class="card-footer  text-center p-1">DAIERY</div>
          </div>
        </a>
      </div>

      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-pasta" class="card-link">
          <div class="card p-0  bgpasta">
            <div class="card-body p-0"></div>
            <div class="card-footer  text-center p-1">PASTA</div>
          </div>
        </a>
      </div>
    </div>


    <div class="row d-flex justify-content-center">
      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="recipe-vegetables" class="card-link">
          <div class="card p-0  bgvegetables ">
            <div class="card-body p-0"></div>
            <div class="card-footer text-center p-1">VEGETABLES</div>
          </div>
        </a>
      </div>

      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-legumes" class="card-link">
          <div class="card p-0  bglegumes">
            <div class="card-body p-0"></div>
            <div class="card-footer text-center p-1">LEGUMES</div>
          </div>
        </a>
      </div>

      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-fruits" class="card-link">
          <div class="card p-0  bgfruits">
            <div class="card-body p-0"></div>
            <div class="card-footer text-center p-1">FRUITS</div>
          </div>
        </a>
      </div>

      <div class=" col-lg-3 col-md-6 mb-4">
        <a routerLink="/recipe-eggs" class="card-link">
          <div class="card p-0  bgeggs">
            <div class="card-body p-0"></div>
            <div class="card-footer text-center p-1">EGGS</div>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>