<div class="container">.
  <div class="row">
    <div class=" col-lg-3 col-md-6 mb-4">
      <a routerLink="/recipe-meat" class="card-link">
        <div class="card p-0  bgmeat">
          <div class="card-body p-0"></div>
          <div class="card-footer text-center p-1">MEAT</div>
        </div>
      </a>
    </div>


    <div class=" col-lg-3 col-md-6 mb-4">
      <a href="" class="card-link">
        <div class="card p-0  bgmilk">
          <div class="card-body p-0"></div>
          <div class="card-footer  text-center p-1">MILK</div>
        </div>
      </a>
    </div>

    <div class=" col-lg-3 col-md-6 mb-4 ">
      <a href="" class="card-link">
        <div class="card p-0  bgvegetables ">
          <div class="card-body p-0"></div>
          <div class="card-footer text-center p-1">VEGETABLES</div>
        </div>
      </a>
    </div>


    <div class=" col-lg-3 col-md-6 mb-4">
      <a href="" class="card-link">
        <div class="card p-0  bglegumes">
          <div class="card-body p-0"></div>
          <div class="card-footer text-center p-1">LEGUMES</div>
        </div>
      </a>
    </div>

  </div>
</div>