<div class="container p-5">

  <div class="card mx-auto p-2 bg-light" style=" width: 100%;">
    <h2 class="display-5 text-left d-none d-xl-block d-lg-block  d-sm-block  d-md-block pl-3"> Recipe Details</h2>

    <div class="card-body" *ngIf="!selectedRecipe">
      <app-loader></app-loader>
    </div>

    <div class="card-body " *ngIf="selectedRecipe">
      <div class="row p-2" id="titleRecipe">
        <div class="col-md-5">
          <img src="{{ selectedRecipe.imageUrl }}" alt="" class="img-fluid" width="80%">
        </div>

        <div class="col-md-7">
          <h2 class="card-title mt-2 bgTitle"> {{ selectedRecipe.title }}</h2>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-4" id="ingredients">
          <h3 class="card-title bgIngredients">Ingredients</h3>
          <ul class="list-group" *ngFor="let ingredient of selectedRecipe.productQuantities">
            <li class="mb-3">{{ ingredient.quantity }} {{ ingredient.quantityType }}. - {{ ingredient.product.name }}
            </li>
          </ul>
        </div>
        <div id="description" class="col-md-8">
          <h3 class="card-title bgPreparation">Preparation</h3>
          <p class="text-justify descriptionStyle">{{ selectedRecipe.description }}.</p>
        </div>
      </div>

      <div>
        <p class="text-right mt-4 authorBg" >The recipe was published by <strong>{{ selectedRecipe.authorName |
            titlecase}}</strong> </p>
      </div>
      <div>
        <h4 class="text-left mt-4 display-6">Good appetite!</h4>
      </div>
    </div>

    <div class=" row m-2">
      <div class="col-md-6 d-flex justify-content-start mb-3">
        <button class="btn btn-secondary mr-3">Back</button>
        <button class="btn btn-danger" (click)="goEditRecipe(selectedRecipe._id)">Next</button>
      </div>
      <div class="col-md-6 d-flex justify-content-end mb-3">
        <button class="btn btn-primary">Go Home</button>
      </div>

    </div>
  </div>
</div>