<div class="container p-5">
  <!-- <h2 class="display-4 text-center d-none d-xl-block d-lg-block  d-sm-block  d-md-block">Details Recipe</h2> -->
  <div class="card mx-auto p-2 bg-light" style=" width: 100%;">
    <!-- <h2 class="display-4 text-center d-none d-xl-block d-lg-block  d-sm-block  d-md-block ">Details Recipe</h2> -->

    <div class="card-body ">

      <div class="row p-2" id="titleRecipe">
        <div class="col-md-5">
          <img src="./assets/test-img/10.png" alt="" class="img-fluid" width="80%">
        </div>

        <div class="col-md-7">
          <h2 class="card-title mt-2 bgTitle">Spagetti mit Mozarela</h2>
        </div>
      </div>

      <div class="row py-3">
        <div class="col-md-4" id="ingredients">
          <h3 class="card-title bgIngredients">Ingredients</h3>
          <ul class="list-group">
            <li>Fisch</li>
            <li>Potates</li>
            <li>Cheese</li>
          </ul>
        </div>
        <div id="description" class="col-md-8">
          <h3 class="card-title bgPreparation">Preparation</h3>
          <p class="text-justify descriptionStyle">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos
            voluptas amet, dolore rem ad porro
            eligendi quia quisquam ipsa voluptatem quae quaerat. Facere quidem sapiente assumenda. Debitis odit velit
            consequuntur obcaecati modi maiores nemo rem, culpa quasi quod repellendus iure facere nostrum aperiam
            explicabo sequi cumque ut hic illum omnis.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, ratione est corporis vero ea labore perferendis ut ullam natus et? Fuga possimus accusamus voluptatum reprehenderit mollitia excepturi, sequi doloremque exercitationem deserunt odio vero quod quaerat hic sint eligendi, delectus voluptatem odit. Eos libero saepe excepturi.</p>
        </div>


      </div>

    </div>


    <div class=" row m-2">
      <div class="col-md-6 d-flex justify-content-start mb-3">
        <button class="btn btn-secondary mr-3">Back</button>
        <button class="btn btn-danger">Next</button>
      </div>
      <div class="col-md-6 d-flex justify-content-end mb-3">
        <button class="btn btn-primary">Go Home</button>
      </div>

    </div>
  </div>
</div>