@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');


.card{
  background-color: rgba(192, 206, 221, 0.205);
}

#titleRecipe{
  background-color: rgba(233, 233, 233, 0.616);
}

.display-4 {
  color: rgb(27, 68, 19);
  font-family: 'Kalam', cursive;
}

ul {
  list-style-type: none;
}

.bgTitle{
color: rgb(34, 8, 77);
}

#description{
  border-left: 1px solid rgb(59, 14, 131);
}

#ingredients li{
  border-bottom: 3px solid rgba(161, 148, 167, 0.356);
}