@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

.sectionStyle {
  background: linear-gradient(90deg, rgba(23, 88, 6, 1) 0%, rgba(125, 188, 117, 1) 50%, rgba(23, 88, 6, 1) 100%);
    box-shadow: 1px 0px 28px 0px rgba(10, 9, 10, 1);
  height: 400px;
  margin: 0 auto;
  margin-bottom: 67px;
  border: none;
  border-radius: 20px;
  border: 2px solid;
  height: 570px;
}

form {
  background: #165806c2;
  position: relative;
  border-radius: 20px;
}

.logInStyle {
  font-family: 'Josefin Sans', sans-serif;
  color: whitesmoke;
}

.btn {
  border: 2px solid white;
  color: white;
}

.btn:hover {
  background-color: rgb(206, 191, 233);
  color: rgb(25, 48, 12);
}