<section class="sectionStyle mx-auto col-md-6">

  <form action="" class="m-5 p-5 mx-auto col-md-8">
    <h2 class="text-center pb-3 logInStyle">REGISTER</h2>

    <div class="form-group">
      <input type="text" class="form-control form-control-lg" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="email" class="form-control form-control-lg" placeholder="Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control form-control-lg" placeholder="Password">
    </div>
    <div class="form-group  mb-4">
      <input type="password" class="form-control form-control-lg" placeholder="Confirm password">
    </div>
    <button type="submit" class="btn  btn-block btn-lg ">Submit</button>
  </form>

</section>